#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover {
color:#741d1d;
}
#menu li.current-menu-item a, #menu li.current_page_item a{
color:#741d1d;
}
#menu .ddsmoothmenu li li a.selected, #menu .ddsmoothmenu li li a:hover { 
color:#741d1d;
background:#fff url(images/menu-blt-red.png) 6px 15px no-repeat;
}
.bottom-feature .bottom-feature-left .bottom-feature-left-inner a.index-read, .bottom-feature .bottom-feature-right .bottom-feature-right-wrapper a.index-read{
background:url(images/index-read-red.png) no-repeat;
}
.index-info{
background:#741d1d url(images/red-sep.png) repeat-x;
border-bottom:1px solid #9e2b2b;
}
.index-info .index-info-one{
background:url(images/mob-red.png) 0 0 no-repeat;
}
.index-info .index-info-two{
background:url(images/sms-red.png) 0 2px no-repeat;
padding-left:35px;
}
.index-info .index-info-three{
background:url(images/timing-red.png) 0 0 no-repeat;
padding-left:35px;
}
.footer a {
	color:#741d1d;
}
.footer .widget_inner .searchform {
background: url(images/search-bg-red.png);
}
a {
    color:#741d1d;
}
.main-content .gallery h1, .main-content .page-content h1.contact, h1.single-heading, .page-content h1.page_title{
    background: #8d3333; 
}
.main-content .full-width h1.fullwidth-heading{
    background: #8d3333;  
}
.content-bar .post .read_more{
    background:url(images/index-read-red.png) no-repeat;
}
#slides .caption {
    background: #D0322C;
    background: rgba(208, 50, 44, .8);
	 border:1px solid #D0322C;
}
#slides .caption p {
    color: #fff;
}
